<div class="text-center">
  <p>
    para usar el chat, se tiene q autenticar
  </p>
  <button
  (click)="login('google')"
  class="btn btn-outline-primary"
  type="button" name="button">
  Google
  </button>

  <button
  (click)="login('twitter')"
  class="btn btn-outline-info"
  type="button" name="button">
  Twitter
  </button>
</div>
