<md-card *ngIf="contacto">
<md-card-title>
  Detalles del contacto2
</md-card-title>
<md-card-content>
  Nombre: {{ contacto.nombre }} <br> 
  Apellidos: {{ contacto.apellidos }} <br>
  Ciudad: {{ contacto.ciudad }} <br>
  Telefono: {{ contacto.telefono }} <br>
  Email: {{ contacto.email }} <br>
  Empresa: {{ contacto.empresa }} <br>
  <button md-button (click)="onCerrar">Cerrar</button>
</md-card-content>
</md-card>