<h2>{{titulo}}</h2>

<div *ngIf="parametro">
	Parametro de la URL: {{parametro}}
</div>

<div *ngIf="!parametro">
	<button (click)="redirigir()">Ir a la página con parametro</button>
	<button (click)="redirigirDos()">Ir a la home</button>
</div>