<hr>

<p><strong>Empleado estrella:  (*ngIf)</strong></p>

<div *ngIf = "trabajador_externo == true">
	<button (click)="cambiarExterno(false)">Mostrar empleado</button>
	<ul>
		<li>{{trabajadores[0].nombre}}</li>
		<li>{{trabajadores[0].edad}}</li>
		<li>{{trabajadores[0].cargo}}</li>
		<li *ngIf="trabajadores[0].contratado == true">Está contratado</li>
		<li *ngIf="trabajadores[0].contratado == false">No está contratado</li>
	</ul>
</div>

<div *ngIf = "trabajador_externo == false">
	<button (click)="cambiarExterno(true)">Mostrar trabajador</button>
	<ul>
		<li>{{empleado.nombre}}</li>
		<li>{{empleado.edad}}</li>
		<li>{{empleado.cargo}}</li>
		<li *ngIf="empleado.contratado == true">Está contratado</li>
		<li *ngIf="empleado.contratado == false">No está contratado</li>
	</ul>
</div>

<hr>

<h3>
	Listado de empleado (*ngFor)
</h3>
<ul>
	<li *ngFor="let empleado of trabajadores; let i = index">
		<strong>Empleado {{i + 1}}:</strong>
		<ul>
			<li>{{empleado.nombre}}</li>
			<li>{{empleado.edad}}</li>
			<li>{{empleado.cargo}}</li>
			<li *ngIf="empleado.contratado == true">Está contratado</li>
			<li *ngIf="empleado.contratado == false">No está contratado</li>
		</ul>
		<br>
	</li>
</ul>

<hr>

<h3>Color switch  ([ngSwitch])</h3>
<ul [ngSwitch]="color">
	<li *ngSwitchCase="'red'" [ngStyle]="{
		'background':color, 
		'color': 'white',
		'padding': '20px'
	}">
		Es de color ROJO
	</li>
	<li *ngSwitchCase="'green'" [ngStyle]="{
		'background':color, 
		'color': 'white',
		'padding': '20px'
	}">
		Es de color ROJO
	</li>
	<li *ngSwitchCase="'blue'" [ngStyle]="{
		'background':color, 
		'color': 'white',
		'padding': '20px'
	}">
		Es de color ROJO
	</li>
</ul>

<hr>

<h3>Selector de colores:</h3>

<button (click)="logColorSeleccionado()">Log</button>

<input type="text" [(ngModel)]="color_seleccionado">

<pre [style.border]="color_seleccionado == 'red' ? '5px solid black' : '2px solid green'"
	 [ngClass]="['fondoRojo', 'letraGrande']"
>

	<!--[class.bordeAzul]="color_seleccionado == 'blue'
	{
			fondoAzul: color_seleccionado = 'blue',
			fondoVerde: color_seleccionado = ''
		}
	-->
	Color elegido: {{color_seleccionado}}
</pre>

<div [ngStyle]="{
		'background':color_seleccionado, 
		'width': '200px',
		'height': '200px',
		'float': 'right',
		'margin-right': '2%'
		}"></div>

<div style="clear:both;"></div>







