 <h2 style="color: blue">
	{{ titulo }}
</h2>

<h3>Selector de colores:</h3>
<div class="">
	<button (click)="logColorSeleccionado()" [ngStyle]="{'display': 'inline-block', 'vertical-align': 'top'}">Mostrar LOG</button>
	<input type="text" [(ngModel)]="color_seleccionado" [ngStyle]="{'display': 'inline-block', 'vertical-align': 'top'}">
</div>
<pre 
	[style.border]="color_seleccionado == 'red' ? '5px solid red' : '1px solid black' " [ngStyle]="{'display': 'inline-block', 'vertical-align': 'top'}"
	[class.bordeAzul]="color_seleccionado == 'blue'"
	[ngClass]="{
		bordeAzul: color_seleccionado == 'blue',
		bordeGreen: color_seleccionado == 'green',
		letraGrande: 1 == 1
	}"
	[ngClass]="['bordeAzul', 'letraGrande']">
	<strong>Color elegido:</strong>
	{{color_seleccionado}}
</pre>
<div [ngStyle]="{
		'background': color_seleccionado,
		'width': '200px',
		'height': '200px',
		'display': 'inline-block'
	}"></div>

<hr>

<h3>Color *switch</h3>
<ul [ngSwitch]="color">
	<li *ngSwitchCase="'red'" [ngStyle]="{
		'background': color,
		'color': 'white',
		'padding': '20px'
	}">
	Es de color rojo
</li>
	<li *ngSwitchCase="'red'" [ngStyle]="{
		'background': 'green',
		'color': 'white',
		'padding': '20px'
	}">
		Es de color GREEN
	</li>
	<li *ngSwitchCase="'blue'" [ngStyle]="{
		'background': 'blue',
		'color': 'white',
		'padding': '20px'
	}">
		Es de color AZUL
	</li>
</ul>

<hr>

<strong>Juego estrella:</strong>
<br><br>
<div *ngIf="trabajador_externo == true">
	<button (click)="cambiarExterno(false)">Mostrar empleado</button>
	<ul>
		<p>*ngIf="trabajador_externo == true" TRABAJADOR</p>
		<li>
			{{ trabajadores[1].nombre }}
		</li>
		<li>
			{{ trabajadores[1].edad }}
		</li>
		<li>
			{{ trabajadores[1].cargo }}
		</li>
		<li *ngIf="trabajadores[1].contratado == true">
			Esta Contratado
		</li>
		<li *ngIf="trabajadores[1].contratado == false">
			No Esta Contratado
		</li>
	</ul>
</div>

<div *ngIf="trabajador_externo == false">
	<button (click)="cambiarExterno(true)">Mostrar trabajador</button>
	<ul>
		<p>*ngIf="trabajador_externo == false" EMPLEADO</p>
		<li>
			{{ empleado.nombre }}
		</li>
		<li>
			{{ empleado.edad }}
		</li>
		<li>
			{{ empleado.cargo }}
		</li>
		<li *ngIf="empleado.contratado == true">
			Esta Contratado
		</li>
		<li *ngIf="empleado.contratado == false">
			No Esta Contratado
		</li>
	</ul>
</div>

<hr>
<h3>Listado juegos</h3>
<h4>*ngFor</h4>
<ul>
	<li *ngFor="let empleado of trabajadores; let i = index">
		Juego {{i+1}}
		<ul>
			<li>
			{{ empleado.nombre }}
			</li>
			<li>
				{{ empleado.edad }}
			</li>
			<li>
				{{ empleado.cargo }}
			</li>
			<li *ngIf="empleado.contratado == true">
				Esta Contratado
			</li>
			<li *ngIf="empleado.contratado == false">
				No Esta Contratado
			</li>
		</ul>
	</li>
</ul>

<hr>