<md-card *ngIf="contactoOriginal">
  <md-card-title>
    Edición del contacto
  </md-card-title>
  <md-card-content>
    <form novalidate [formGroup]="form" (ngSubmit)="onGuardar()">
      <md-input-container>
        <input type="text" mdInput placeholder="Nombre" formControlName="nombre">
      </md-input-container> 
      <md-input-container>
        <input type="text" mdInput placeholder="Apellidos" formControlName="apellidos">
      </md-input-container> 
      <md-input-container>
        <input type="text" mdInput placeholder="Dirección" formControlName="direccion">
      </md-input-container> 
      <md-input-container>
        <input type="text" mdInput placeholder="Teléfono" formControlName="telefono">
      </md-input-container> 
      <md-input-container>
        <input type="text" mdInput placeholder="Email" formControlName="email">
      </md-input-container> 
      <md-input-container>
        <input type="text" mdInput placeholder="Empresa" formControlName="empresa">
      </md-input-container>
      <md-input-container>
        <input type="text" mdInput placeholder="Red" formControlName="red">
      </md-input-container>
      <button type="submit" md-button>Guardar</button>
      <button type="button" md-button (click)="onCancelar">Cancelar</button>
    </form>
  </md-card-content>
</md-card>