<md-card *ngIf="mostrar">
    <md-card-title>
      Guardar del contacto
    </md-card-title>
    <md-card-content>
      <form novalidate [formGroup]="form" (ngSubmit)="onGuardar()">
        <md-input-container>
          <input type="text" mdInput placeholder="Nombre" formControlName="nombre">
          <md-error>{{ validationMessages.nombre.required }}</md-error>
        </md-input-container> 
        <md-input-container>
          <input type="text" mdInput placeholder="Apellidos" formControlName="apellidos">
          <md-error>{{ validationMessages.nombre.required }}</md-error>
        </md-input-container> 
        <md-input-container>
          <input type="text" mdInput placeholder="Dirección" formControlName="direccion">
          <md-error>{{ validationMessages.nombre.required }}</md-error>
        </md-input-container> 
        <md-input-container>
          <input type="text" mdInput placeholder="Teléfono" formControlName="telefono">
          <md-error>{{ validationMessages.nombre.required }}</md-error>
        </md-input-container> 
        <md-input-container>
          <input type="text" mdInput placeholder="Email" formControlName="email">
          <md-error>{{ validationMessages.nombre.required }}</md-error>
        </md-input-container> 
        <md-input-container>
          <input type="text" mdInput placeholder="Empresa" formControlName="empresa">
          <md-error>{{ validationMessages.nombre.required }}</md-error>
        </md-input-container>
        <md-input-container>
          <input type="text" mdInput placeholder="Red" formControlName="red">
          <md-error>{{ validationMessages.nombre.required }}</md-error>
        </md-input-container>
        <button type="submit" md-button [disabled]="!form.valid">Guardar</button>
        <button type="button" md-button (click)="onCancelar">Cancelar</button>
      </form>
    </md-card-content>
  </md-card>