<h2>{{titulo}}</h2>

<br>

<!-- Pipes o filtros: funciones para realizar tareas para las vistas o plantillas de angular, ejemplo fechas, convertir datos o procesar información -->
<p>Pipes</p>
{{fecha | date:'dd/MM/yyyy'}} | 
{{fecha | date:'fullDate' | uppercase | lowercase}} | 
{{nombre |	lowercase | uppercase }}
<br>
{{5 | conversor: 7}}
<br>

<br>
<input type="text" [(ngModel)]="prenda_a_guardar">
<button (click)="guardaPrenda()">Añadir prenda</button>
<p *ngIf="prenda_a_guardar">La prenda a guardar es: <strong>{{prenda_a_guardar}}</strong></p>
<h3>Listado de juegos</h3>
<ul>
	<li *ngFor="let prenda of listado_ropa; let i = index">
		{{ i }} {{prenda}}
		<button (click)="eliminarPrenda(i)">Eliminar</button>
	</li>
</ul>