<div class="card">
  <div class="card-header">
    Eliminar
  </div>
  <div class="card-block">
    <p class="card-text">
      ¿Estás seguro que desea eliminar el registro?
    </p>
    <button md-button color="warm" (click)="onEliminar()">
      Si
    </button>
    <button md-button color="primary" (click)="onCancelar()">
      No
    </button>
  </div>
</div>