<h4>{{titulo}}</h4>

<!--Si existe el administrador entonces carga template admin o si no el template noAdmin-->
<div *ngIf="administrador; then admin else noAdmin">
</div>

<ng-template #admin>
	<button (click)="cambiar(false)">Cambiar</button>
	<strong style="background: yellow;">Eres el administrador de la webapp</strong>
</ng-template>

<ng-template #noAdmin>
	<button (click)="cambiar(true)">Cambiar</button>
	<strong style="background: red; color: white;">No eres el administrador de la webapp</strong>
</ng-template>